<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="/css/score.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="Wallet">
            <button id="connectWallet">Connect Wallet</button>
        </div>
        <div class="logo"> </div>
        <nav>
                <div><a href="/index">Home</a></div>
                <div><a href="/about">About Us</a></div>
                <div><a href="/score">Score</a></div>
                <div><a href="/nft">NFT</a></div>
                <div><a href="/donuts">Buy Donuts</a></div>
                <div><a href="/quests">Quests</a></div>
    
            </nav>
            
        
    </header>
    <main>
        <article>
            <section>
                <div>Nickname</div>
                <div>Tetris</div>
                <div>Snake</div>
                <div>Minesweeper</div>
                <div>Total</div>
            </section>
            {{#each scores}}
            <section>
                
                <div>{{username}}</div>
                <div>{{tetris}}</div>
                <div>{{snake}}</div>
                <div>{{minesweeper}}</div>
                 <div>{{total}}</div>
                 
            </section>
            {{/each}}
        </article>
    </main>
    <footer>

    </footer>
</body>
</html>